/* adding styling to navbar */
.navbar {
    margin-top: 5vh;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.logo img{
    height: 50px;
}
.modebtn button{
    border: 2px solid black;
    background-color: transparent;
    width: 10vw;
    height: 5vh;
    font-size: 20px;
    padding: 3px;
    border-radius: 40px;
    margin-right: 20px;
    font-weight: 100;
    cursor: pointer;
}
